body {
    font: normal 1em/1.5 Arial,Helvetica,sans-serif;
    background-color: #edf2f4;
    color: #2b2d42;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    font-style: italic;
    color: #D90429;
    border-bottom: 2px solid #2b2d42;
    padding-bottom: 5px;
    text-align: center;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #EDF2F4;
    padding: 2px 4px;
    border-radius: 2px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

a:link {
    color: #D90429;
}

a:visited {
    color: #404040;
}

a:hover {
    color: #000;
}

a:active {
    color: #236aef;
}

#first {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px dashed #2b2d42;
}

#author h2, #comments h2 {
    font-size: 1.5em;
    font-style: italic;
    color: #D90429;
    margin-bottom: 5px;
    padding: 0;
}

#bottom {
    text-align: center;
    background-color: #edf2f4;
    padding: 20px;
}

.newsletter {
    font-size: 1.2em;
}

form {
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
}

#email {
    height: 2em;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #D90429;
    color: white;
    padding: 0.6em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #6b0012;
}

